# This is to demonstrate how to setup your .env file
# Copy this file into .env and fill in the values needed.
# Please don't make the same mistake I have in the past and put the API credentials
# in this file and then push LOL

# Google Calendar Credentials
GOOGLE_API_KEY=<API KEY>
GOOGLE_CALENDAR_ID=<CALENDAR ID>

# Prisma + Postgres Connection URL
DATABASE_URL=postgres://<REST OF URL>

# Auth Credentials
GOOGLE_CLIENT_ID=<CLIENT ID>
GOOGLE_CLIENT_SECRET=<CLIENT SECRET>


NEXTAUTH_URL="http://localhost:3000"

NEXTAUTH_SECRET=<SECRET>