# This is to demonstrate how to setup your .env file
# Copy this file into .env and fill in the values needed

# Google Calendar Credentials
GOOGLE_API_KEY=<API KEY>
GOOGLE_CALENDAR_ID=<CALENDAR ID>

# Prisma + Postgres Connection URL
DATABASE_URL=postgres://<REST OF URL>

# Auth Credentials
GOOGLE_CLIENT_ID=<CLIENT ID>
GOOGLE_CLIENT_SECRET=<CLIENT SECRET>

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=<SECRET>

ADMIN_EMAILS=<EMAILS>

CLOUDFLARE_R2_BUCKET_NAME=<BUCKET NAME>
CLOUDFLARE_R2_ACCESS_KEY_ID=<ACCESS KEY ID>
CLOUDFLARE_R2_SECRET_ACCESS_KEY=<SECRET ACCESS KEY>
CLOUDFLARE_ACCOUNT_ID=<ACCOUNT ID>
NEXT_PUBLIC_CLOUDFLARE_R2_DEV_URL=<URL>